{% extends "base.html" %} {% block content %}




<!-- <div class="jumbotron"> -->
	<h1>Inol</h1>
	<h5>Intensity x Number Of Lifts</h5>


	<div class="container">

		<div class="row">
			<div class="col-md-12">

				<div class="btn-group">
					<h3>How do you feel?</h3>
					<button type="button" class="btn btn-danger btn-lg">
						<span class="fa fa-heartbeat" aria-hidden="true"></span>
					</button>

					<button type="button" class="btn btn-warning btn-lg">
						<span class="fa fa-heartbeat" aria-hidden="true"></span>
					</button>

					<button type="button" class="btn btn-success btn-lg">
						<span class="fa fa-heartbeat" aria-hidden="true"></span>
					</button>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<div class="btn-group">
					<h3>How much time do you have?</h3>
					<button type="button" class="btn btn-danger btn-lg">
						<span class="fa fa-heartbeat" aria-hidden="true"></span>
					</button>

					<button type="button" class="btn btn-warning btn-lg">
						<span class="fa fa-heartbeat" aria-hidden="true"></span>
					</button>

					<button type="button" class="btn btn-success btn-lg">
						<span class="fa fa-heartbeat" aria-hidden="true"></span>
					</button>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h1>Select one:</h1>
				<div id="radios">
					<label for="input1"></label> <input id="input1" name="radio" type="radio" /> <label for="input2"></label> <input id="input2" name="radio" type="radio" /> <label for="input3"></label> <input id="input3" name="radio" type="radio" /> <label for="input4"></label> <input id="input4" name="radio" type="radio" /> <label for="input5"></label> <input id="input5" name="radio" type="radio" />
					<span id="slider"></span>
				</div>



			</div>
		</div>


	</div>
<!-- </div> -->



<div class="tile-area tile-area-scheme-lightBlue fg-white" style="height: 100%; max-height: 100% !important;">
	<h1 class="tile-area-title">Inol</h1>
	<div class="tile-area-controls toolbar">
		<button class="image-button bg-grayLighter icon-right fg-white bg-hover-dark no-border">
			<span class="sub-header no-margin fg-grayDark">Andrew Walker</span>
			<span class="icon mif-user"></span>
		</button>
		<button class="square-button bg-grayLight  fg-white bg-hover-dark no-border" onclick="showCharms('#charmSearch')">
			<span class="mif-search"></span>
		</button>
		<button class="square-button bg-grayLight  fg-white bg-hover-dark no-border" onclick="showCharms('#charmSettings')">
			<span class="mif-cog"></span>
		</button>
		<a href="../tiles.html" class=" bg-grayLight  square-button fg-white bg-hover-dark no-border">
			<span class="mif-switch"></span>
		</a>
	</div>

	<div class="tile-group four">
		<span class="tile-group-title">What are you training today?</span>
		<div class="tile-container bg-darkCobalt">

			<div class="tile bg-red fg-white" data-role="tile">
				<div class="tile-content iconic">
					<span class="icon mif-cogs"></span>
				</div>
			</div>

			<div class="tile bg-cyan fg-white" data-role="tile">
				<div class="tile-content iconic">
					<span class="icon mif-envelop"></span>
					<span class="tile-badge bg-darkRed">5</span>
					<span class="tile-label">Mail</span>
				</div>
			</div>

			<div class="tile bg-cyan fg-white" data-role="tile">
				<div class="tile-content">
					<span>How do you feel today?</span>
					<div data-role="group" data-group-type="one-state">
						<button class="button cycle-button large-button mif-star-empty"></button>
						<button class="button cycle-button large-button mif-star-half"></button>
						<button class="button cycle-button large-button mif-star-full"></button>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="tile-group four">
		<div class="grid">

			<div class="row">
				<div class="cell">
					<span></span>

				</div>

			</div>

		</div>
		<div class="row cells2">
			<div class="cell">
				<span>How do you feel today?</span>
				<div data-role="group" data-group-type="one-state">
					<button class="button cycle-button large-button mif-star-empty"></button>
					<button class="button cycle-button large-button mif-star-half"></button>
					<button class="button cycle-button large-button mif-star-full"></button>
				</div>
			</div>

			<div class="cell">
				<span>How much time do you have today?</span>
				<div data-role="group" data-group-type="one-state">
					<button class="button cycle-button large-button mif-backward"></button>
					<button class="button cycle-button large-button mif-play"></button>
					<button class="button cycle-button large-button mif-forward"></button>
				</div>
			</div>
		</div>
	</div>
</div>






{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/inol.js') }}"></script>

{% endblock %}
